/* .overlay{
    width: 512px;
    height: auto;
    padding: 48px;
    position: fixed;
    margin: auto;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    color: #000;
    box-sizing: border-box;
} */

.overlay_background{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
}

.overlay__controls {
    /* position: relative; */
    background-color: #FFFFFF;
    /* width: 100%; */
    height: auto;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 512px;
    padding: 48px;
    position: fixed;
    margin: auto;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    color: #000;
    box-sizing: border-box;
    z-index: 90;

  }
  

.overlay-header{
    font-size: 24px;
    font-weight: bold;
}

.overlay-description{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.overlay-button {
    margin: 0;
    background-color: #1ED760;
    width: auto;
    height: 46px;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 90px;
    text-align: center;
    line-height: normal;
    box-sizing: border-box;
}